<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated webApplications -->
      <package
            uri="http://www.example.org/webApplications"
            class="webApplications.WebApplicationsPackage"
            genModel="model/webApplications.genmodel"/>
   </extension>

</plugin>
